* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #efefef;
}

.hero-content {
  min-height: 75vh;
}

li {
  list-style: none;
}

h2 {
  font-size: 16px;
}

footer {
  min-height: 25vh;
}

/*.container {
    max-width: 240px;
    position: absolute;
    height: 24px; 
    padding: 8px 8px 8px 8px;
 }*/
.aside_items:hover {
  background-color: rgba(9, 9, 9, 0.05);
  border-radius: 6px;
  color: blue;
}

#sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 24px 0;
}

#sociales svg {
  fill: #717171;
}

#sociales svg:hover {
  fill: #575757;
}

.seccion-izquierda ul {
  padding: 0;
  margin-top: 4rem;
}

.seccion-izquierda ul li {
  padding: 5px;
}

.container-fluid {
  padding-right: 0;
}

navbar-brand.site-logo a {
  color: none;
  text-decoration: none;
}

.left-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

.left-bar button {
  margin: 0 10px 0 0;
}

.block-position {
  position: absolute;
  left: 80px;
}

.block-position input {
  width: 350px;
}

.button-search {
  position: relative;
  right: 50px;
  border-color: transparent;
  background: transparent;
}

.login-crate {
  margin-right: 30px;
}

.button-create button {
  color: #fff;
  border: none;
  background: #3b49df;
  font-weight: 600;
}

.button-create :hover {
  background: #1827ce;
  color: #fff;
}

/*.button-login {
    button {
        color: $ColorDecorated;
        border: none;
        background: $ColorStandar;
        font-weight: 600;

    }
    :hover {
        background-color:$HoverColor;
        color: $ColorDecorated;
    }
}
*/
.big-card {
  background: #323da3;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.big-card button .x-btn {
  background: #333;
}

.big-card .card-title img {
  width: auto;
  height: 20px;
}

.row {
  padding: 0;
}

.footer {
  margin-top: 8em;
  background-color: #d6d6d7;
  padding: 48px;
}

/*@media (max-width:767px) {
    .block-position {
        input {
            display: none;
        }
        svg {
            display: none;
            visibility: hidden;
        }
    }

}
*/
/*# sourceMappingURL=style.css.map */