* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
}

li {
  list-style: none;
}

h2 {
  font-size: 16px;
}

/*.container {
    max-width: 240px;
    position: absolute;
    height: 24px; 
    padding: 8px 8px 8px 8px;
 }*/
.aside_items:hover {
  background-color: rgba(9, 9, 9, 0.05);
  border-radius: 6px;
  color: blue;
}

#sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 24px 0;
}

#sociales svg {
  fill: #717171;
}

#sociales svg:hover {
  fill: #575757;
}

.seccion-izquierda ul {
  padding: 0;
  margin-top: 4rem;
}

.seccion-izquierda ul li {
  padding: 5px;
}

navbar-brand.site-logo a {
  color: none;
  text-decoration: none;
}

.block-position {
  position: absolute;
  left: 80px;
}

.block-position input {
  width: 350px;
}

.button-search {
  position: relative;
  right: 50px;
  border-color: transparent;
  background: transparent;
}

.button-login button {
  color: #3b49df;
  border: none;
  background: #fff;
  font-weight: 600;
}

.button-login :hover {
  background-color: #efefef;
  color: #3b49df;
}

.button-create button {
  color: #fff;
  border: none;
  background: #3b49df;
  font-weight: 600;
}

.button-create :hover {
  background: #1827ce;
  color: #fff;
}

.footer {
  margin-top: 8em;
  background-color: #d6d6d7;
  padding: 48px;
}

.mike {
  width: 400px;
  background: peru;
}

.mike h1 {
  color: #333;
}

.seccion_central .profile_pic {
  border-radius: 50%;
  width: 50px;
}

.seccion_central span {
  font-size: 14px;
}

.seccion_central h3, .seccion_central a {
  text-decoration: none;
  color: black;
}

.seccion_central li {
  display: inline-block;
  margin-right: 6px;
}

.seccion_central .card {
  margin-top: 10px;
}

.seccion_central .username {
  font-weight: bold;
  font-size: 18px;
}

.seccion_central .central_nav li {
  display: inline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.seccion_central .central_nav li:hover {
  border-bottom: 5px solid;
}

.seccion_central .central_nav .active_li {
  font-weight: bold;
}

.derecha_articulo {
  width: 30%;
}

.aside_derecho {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 10px;
}

.aside_derecho .card {
  border-top: 36px solid #160533;
}

.aside_derecho .profile_pic {
  border-radius: 50%;
  width: 80px;
}

.aside_derecho .username {
  font-weight: bold;
  font-size: 20px;
}

.aside_derecho .crayons-btn {
  background-color: #476fbf;
  color: white;
  border: none;
  border-radius: 3px;
  max-width: 80%;
  margin: 0 auto;
  height: 35px;
  margin-top: 10px;
}

.aside_derecho .crayons-btnhover {
  background-color: #446dbe;
}

.more_from {
  margin-top: 15px;
}

.more_from .more_user {
  font-size: 20px;
  font-weight: bold;
}

.more_from .more_user a {
  text-decoration: none;
}

.more_from .tags {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.more_from .tags a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .block-position input {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */