body {
    margin: auto;
    max-width: 1280px;
    padding-top: 56px;  
  }

li {
    list-style: none;
}

.container {
    max-width: 240px;
    position: absolute;
    height: 24px; 
    padding: 8px 8px 8px 8px;
}

.col-12:hover {
    background-color: rgba(9, 9, 9, 0.05);
    border-radius: 6px;
    color:blue;
}