.big-card {
	background: $CardColor;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	button .x-btn {
		background: $CardCloseBtn;
	}

	.card-title img {
		width: auto;
		height: 20px;
	}
}
