* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$ColorDecorated: #3b49df;
$HoverColor: #efefef;
$ColorStandar: #fff; 
$HoverStrongColor: #1827ce;
$FooterColor:#d6d6d7;

$colorbg: peru;
$widthH1: 400px;
$colorH1: #333;