* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


$CardCloseBtn: transparent;
$CardColor: #323da3;
$Body-color: #efefef;
$ColorDecorated: #3b49df;
$HoverColor: #efefef;
$ColorStandar: #fff;
$HoverStrongColor: #1827ce;
$FooterColor: #d6d6d7;


body {
	width: 100%;
	background-color: $Body-color;
}


.hero-content {
	min-height: 75vh;
}

li {
	list-style: none;
}

h2 {
	font-size: 16px;
}

footer {
	min-height: 25vh;
}


$colorbg: peru;
$widthH1: 400px;
$colorH1: #333;

$paddingbottom: 1px;
$marginbottom: 0 5px;

@mixin bordercolorbottom {
    border-radius: 6px;
    width: fit-content;
}
