* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    width: 100%;
    
}

li {
    list-style: none;
}

h2 {
    font-size: 16px;
}

$colorbg: peru;
$widthH1: 400px;
$colorH1: #333;
