.derecha_articulo {
    width: 30%;
}
.aside_derecho {

    .card{
        border-top: 36px solid blue;

    }
    .profile_pic{
        border-radius: 50%;
        width: 80px;
    }
    .username {
        font-weight: bold;
        font-size: 20px;
    }
}