

.colors {
    border-radius: 6px;
    width: fit-content;
    
    .method {
        border-radius: 6px;
        width: fit-content;
        padding: $paddingbottom;
        margin: $marginbottom;
    }
    .javascript{
        background-color: #F7DF1E;
        border-radius: 6px;
        width: fit-content; 
        padding: $paddingbottom;
        margin: $marginbottom;
        
    }
    .begginers {
        background-color: #008335;
        border-radius: 6px;
        width: fit-content;
        padding: $paddingbottom;
        margin: $marginbottom;
        
    }
    .red {
        background-color: #F53900;
        border-radius: 6px;
        width: fit-content;
        padding: $paddingbottom;
        margin: $marginbottom;

    }
}

.nombre {
    padding: 0;
    text-align: center;
    margin-top: 10px;
    .hanna{
        font-size: 16px;
        margin-left: 15px;
        font-weight: bold;
    }
    span {
        font-size: 12px;
        margin-left: 15px;
    }
}

h1 {
    margin: 16px 0;
}

.codigo {
    width: 449px;
    height: 633px;
    margin-left: 150px;
}

.article_img {
    max-width: 806px;
    
}

.crayons-article__cover__image {
    max-width: 725px;
    margin-left: -50PX;
}

.article_text {
    margin: auto;
}

.code {
    border-radius: 6px;
    margin: 10px;
    padding: 20px 20px;
    min-width: 678px;
}

.first_coment {
padding: 0 20px;
}

.first_article_container {
    max-width: 720px;
}

#texto {
min-width: 650px;
max-width: 678px;
padding: 0 50px;
}

span {
font-size: 20px;
}

@media screen and (max-width:720px) { 
    #primero {
        width: 100%;
    }
   
}