navbar-brand.site-logo {

    a {
        color:none;
        text-decoration: none;
    }
    
}

.block-position {
    position: absolute;
    left: 80px;

    input {
        width: 350px;
    }
}

.button-search {
    position: relative;
    right: 50px;
    border-color: transparent;
    background: transparent;
}

.button-login {
    button {
        color: #3b49df;
        border: none;
        background: white;
        font-weight: 600;

    }
    :hover {
        background-color:#efefef;
        color: #3b49df;
    }
}

.button-create {
    button {
        color:white;
        border:none;
        background: #3b49df;
        font-weight: 600;
    }
    :hover {
        background: #1827ce;
        color: white;
    }

}