navbar-brand.site-logo {

    a {
        color:none;
        text-decoration: none;
    }
    
}

.block-position {
    position: absolute;
    left: 80px;

    input {
        width: 350px;
    }
}
