.container-fluid {
    padding-right: 0;
}

navbar-brand.site-logo {

    a {
        color:none;
        text-decoration: none;
    }
    
}
.left-bar {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    padding: 2px;   
    
    button {
        margin: 0 10px 0 0;
    }

}

.block-position {
    position: absolute;
    left: 80px;
    bottom: 13px;

    input {
        width: 350px;
    }
}

.button-search {
    position: relative;
    right: 50px;
    border-color: transparent;
    background: transparent;
}


.login-crate {
    margin-right: 30px;
}

.button-create {
    button {
        color:$ColorStandar;
        border:none;
        background: $ColorDecorated;
        font-weight: 600;
    }
    :hover {
        background: $HoverStrongColor;
        color: $ColorStandar;
    }

}

.icon-user{
          width: 40px;
          height: 40px; 
}

/*.button-login {
    button {
        color: $ColorDecorated;
        border: none;
        background: $ColorStandar;
        font-weight: 600;

    }
    :hover {
        background-color:$HoverColor;
        color: $ColorDecorated;
    }
}
*/