/*@media (max-width:767px) {
    .block-position {
        input {
            display: none;
        }
        svg {
            display: none;
            visibility: hidden;
        }
    }

}
*/ 
